body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color: #745b0b;
  }
  
  header {
    background-color:#073d05;
    color: #f1c358;
    padding: 20px;
  }
  
  
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color:rgb(214, 201, 12);
    text-decoration: none;
  }
  
  
  
  footer {
    background-color:#073d05;
    color: #fff;
    padding: 10px;
    
  }
  
  #home img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
  }
  
  #portfolio{
    background-color: antiquewhite;
    padding: 10px;
  }
  li{
    display: inline;
    margin-right:10px ;
  }